@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'spacegroteskbold';
    src: url(../fonts/SpaceGrotesk-Bold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
}


html {
    --color-surface: #f0f0f0;
    --color-light: #333333;

    --background-color: var(--color-surface);
    --foreground-color: var(--color-light);

    --font-regular: 'poppinsregular', 'rubik', sans-serif;
    --font-light: 'poppinslight', var(--font-regular);
    --font-bold: 'spacegroteskbold', var(--font-regular);

    --rhythm: 2rem;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 1rem;
    font-family: var(--font-light);
}


/* nav bar*/
.logo img {
    height: 36px;
    width: 45px;
    display: inline-block;
}

.hamb img {
    width: 30px;
    float: right;
    height: 35px;
}

.navbar nav {
    position: absolute;
    float: left;

    /*background-color: blue;*/
    padding: var(--rhythm);
    margin: auto;
    width: 100%;
    z-index: 2;
}

.navbar {
    /*background-color: pink;
    padding: var(--rhythm);*/
    margin: 0 auto;
    height: 100vh;
    width: 100%;

    position: relative;
}

/*body*/

.intro {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    padding: var(--rhythm);

    font-size: 1rem;
    font-family: var(--font-bold);
    line-height: 2rem;

    position: relative;
}


p, h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--font-regular);
}

h1 {
    font-size: 4rem;
    font-style: italic;
    padding-top: 2rem;
    font-family: var(--font-bold);
    line-height: 4rem;
}

/* menu */

.back img {
    width: 45px;
    height: 45px;
    float: right;
}

div.back {
    width: 100%;
    display: block;
    z-index: 2;
    padding: var(--rhythm);

    position: absolute;
}

.menu {
    height: 100vh;
    width: 100%;
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding-top: 50%;
    padding-bottom: 50%;
    
}

.menu ul {
    margin: 0;
    padding: 0;
    
}

.menu ul li {
    list-style-type: none;
    text-align: center;
}

.menu li a {
    font-family: var(--font-regular);
    margin: auto;
    width: 100%;
    line-height: calc(4*var(--rhythm));
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--background-color);
    list-style-type: none;
    text-align: center;
}

.menu li a:visited {
    list-style-type: none;
    color: var(--background-color);
    text-align: center;
}



