@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'spacegroteskbold';
    src: url('../fonts/spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'delagothicone';
    src: url('../fonts/delagothicone-regular-webfont.woff2') format('woff2'),
         url('../fonts/delagothicone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    --color-surface: #f0f0f0;
    --color-light: #333333;
    --color-accent-pink: #e80f8b;
    --color-accent-yellow: #fbcd2c;

    --background-color: var(--color-surface);
    --foreground-color: var(--color-light);

    --font-regular: 'poppinsregular', 'rubik', sans-serif;
    --font-light: 'spacegroteskbold', var(--font-regular);
    --font-bold: 'delagothicone', var(--font-regular);

    --rhythm: 2rem;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 1rem;
    
}

/* nav bar */
.logo img {
    height: 45px;
    display: inline-block;
    width: 45px;
}

.hamb img{
    width: 30px;
    float: right;
    height: 35px;
}


.navbar {
    padding: var(--rhythm);
    margin: 0 auto;
    width: 100%;
}
.navbar {
    /*background-color: pink;
    padding: var(--rhythm);*/
    margin: 0 auto;

    width: 100%;

    position: relative;
}

/* projects */
h2 {
    text-align: center;
    font-family: var(--font-bold);
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 2rem;
    margin-top: 0;
    color: var(--color-light);
}


img {
    height: 100%;;
    width: 100%;
    margin: 0 auto;

    display: block;
} 

.coverpic {
    /* border: 1px solid green; */
    margin: 0 auto;
    min-width: 20rem;
    margin-top: 2rem;

}

.coverpic img:last-of-type {
    height: 80%;
}

.coverpic a {
    line-height: 2rem;
}

.link {
    margin: 2rem;
    color: var(--color-light);
    font-family: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
    font-family: var(--font-bold);
    font-size: 1.5rem;
    text-wrap: pretty;
}

.link a img {
    width: 45px;
}

/*.title {
    display: block;
    font-family: var(--font-bold);
    font-size: 1.5rem;
    margin: 0;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.75rem;

    color: var(--foreground-color);
    text-decoration: none;
    text-wrap: pretty;
}*/


/* menu */
.back img {
    width: 45px;
    height: 45px;
    float: right;
}

div.back {
    width: 100%;
    display: block;
    z-index: 20;
    padding: var(--rhythm);

    position: absolute;
}

.menu {
    height: 100vh;
    width: 100%;
    background-color: var(--foreground-color);
    color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    margin: 0;
    padding: 0;
    
}

.menu ul li {
    list-style-type: none;
    text-align: center;
}

.menu li a {
    font-family: var(--font-bold);
    margin: auto;
    width: 100%;
    line-height: calc(4*var(--rhythm));
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-accent-yellow);
    text-align: center;
}

.menu li a:visited {
    list-style-type: none;
    color: var(--color-accent-yellow);
    text-align: center;
}

/*
.navbar nav {
    position: absolute;
    float: left;


    padding: var(--rhythm);
    margin: auto;
    width: 100%;
    z-index: 2;
}

.navbar {
    
    padding: var(--rhythm);
    margin: 0 auto;
    height: 100vh;
    width: 100%;

    position: relative;
}

*/